<div class="jumbotron jumbotron-fluid page-header">
  <div class="container">
    <h1 class="display-4 header-text">Happy Hour Business Manager</h1>
    <p class="lead header-text business-slogan">Welcome to your business page.</p><br><br><br>
    </p>
  </div>
</div>
<div class="container">
  {{!-- business jumbotron --}}
  {{!-- displays current business info --}}
  {{#if dataValues}}
  <div class="jumbotron" id="business-jumbotron">
    {{!-- name --}}
    <h1 class="display-4" data-id="{{dataValues.UserId}}" id="b-name">{{dataValues.businessName}}</h1>

    <button id="edit-business-btn" type="button" class="btn btn-primary btn-lg float-right b-btn" data-toggle="modal"
      {{!-- edit button --}} data-target="#edit-business-modal">Edit Business</button>
    {{!-- phone --}}
    <p class="lead font-20" id="b-phone">{{dataValues.businessPhone}}</p>
    <hr class="my-4">
    {{!-- address --}}
    <p class="font-20" id="b-address">{{dataValues.businessAddress}}</p>
    {{!-- operating hours table --}}
    <table class="table table-hover table-dark style-table" id="business-table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th class="day-of-the-week" scope="col">Sunday</th>
          <th class="day-of-the-week" scope="col">Monday</th>
          <th class="day-of-the-week" scope="col">Tuesday</th>
          <th class="day-of-the-week" scope="col">Wednesday</th>
          <th class="day-of-the-week" scope="col">Thursday</th>
          <th class="day-of-the-week" scope="col">Friday</th>
          <th class="day-of-the-week" scope="col">Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Operating Hours</th>
          <td class="op-hours">{{dataValues.openHourSunday}}-{{dataValues.closeHourSunday}}</td>
          <td class="op-hours">{{dataValues.openHourMonday}}-{{dataValues.closeHourMonday}}</td>
          <td class="op-hours">{{dataValues.openHourTuesday}}-{{dataValues.closeHourTuesday}}</td>
          <td class="op-hours">{{dataValues.openHourWednesday}}-{{dataValues.closeHourWednesday}}</td>
          <td class="op-hours">{{dataValues.openHourThursday}}-{{dataValues.closeHourThursday}}</td>
          <td class="op-hours">{{dataValues.openHourFriday}}-{{dataValues.closeHourFriday}}</td>
          <td class="op-hours">{{dataValues.openHourSaturday}}-{{dataValues.closeHourSaturday}}</td>
        </tr>
        <tr>
          <th scope="row">Specials</th>
          <td class="specials">{{dataValues.specialSunday}}</td>
          <td class="specials">{{dataValues.specialMonday}}</td>
          <td class="specials">{{dataValues.specialTuesday}}</td>
          <td class="specials">{{dataValues.specialWednesday}}</td>
          <td class="specials">{{dataValues.specialThursday}}</td>
          <td class="specials">{{dataValues.specialFriday}}</td>
          <td class="specials">{{dataValues.specialSaturday}}</td>
        </tr>
      </tbody>
    </table>
    <a id="logout-btn" type="button" href="/logout" class="btn btn-primary btn-lg float-right b-btn">Logout</a>
    </div>
  {{/if}}

  {{#unless dataValues}}
  <div class="row">
    <div class="col-md-12">
      <div class="container" id="add-business-container">
        <div class="card add-b-card" id="add-business-card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Would you like to add a business?</h5>
            <p class="card-text">Adding a business will allow you to reach your customers.</p>
            {{!-- add business --}}
            <button id="add-business-btn" type="button" class="btn btn-primary btn-lg b-btn" data-toggle="modal"
              data-target="#add-business-modal">Add Business</button>
            <button id="logout-btn" type="button" href="/"
              class="btn btn-primary btn-lg b-btn add-b-card-logout">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/unless}}
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://github.com/jstone074/Project-2">DreamTeam</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>

{{!-- ADD-BUSINESS-MODAL --}}
<div class="container">
  <div id="add-business-modal" class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header modal-header-txt">
          <h4>Add Business</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-txt">
          {{!-- add business form --}}
          <form>
            {{!-- name --}}
            <div class="form-group row">
              <label for="new-business-name" class="col-sm-2 col-form-label">Business Name</label>
              <div class="col-sm-10">
                <input type="name" class="form-control" id="new-business-name" placeholder="Business Name">
              </div>
            </div>
            {{!-- phone --}}
            <div class="form-group row">
              <label for="new-business-phone" class="col-sm-2 col-form-label">Phone Number</label>
              <div class="col-sm-10">
                <input type="phone" class="form-control" id="new-business-phone" placeholder="(000)-000-0000">
              </div>
            </div>
            {{!-- address --}}
            <div class="form-group row">
              <label for="new-business-address" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <input type="address" class="form-control" id="new-business-address" placeholder="Enter Address">
              </div>
            </div>
            {{!-- start opening hours input fields --}}
            <fieldset id="new-business-op-hours" class="form-group">
              <hr>
              <h5>Operating Hours</h5>
              <hr>
              <div class="row">
                {{!-- Sunday hours --}}
                <div class="col-sm-4">
                  <h6>Sun</h6>
                  <p>Open:</p><input id="sun-open" type="time" name="hours" min="0:00" max="23:59" required>
                  <p>Close:</p><input id="sun-close" type="time" name="hours" min="0:00" max="23:59" required>
                </div>
                <div class="col-sm-4">
                  {{!-- Monday hours --}}
                  <h6>Mon</h6>
                  <p>Open:</p><input id="mon-open" type="time" name="hours" min="0:00" max="23:59" required>
                  <p>Close:</p><input id="mon-close" type="time" name="hours" min="0:00" max="23:59" required>
                </div>
                <div class="col-sm-4">
                  {{!-- Tuesday hours --}}
                  <h6>Tue</h6>
                  <p>Open:</p><input id="tue-open" type="time" name="hours" min="0:00" max="23:59" required>
                  <p>Close:</p><input id="tue-close" type="time" name="hours" min="0:00" max="23:59" required>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  {{!-- Wendesday hours --}}
                  <h6>Wed</h6>
                  <p>Open:</p><input id="wed-open" type="time" name="hours" min="0:00" max="23:59" required>
                  <p>Close:</p><input id="wed-close" type="time" name="hours" min="0:00" max="23:59" required>
                </div>
                <div class="col-sm-4">
                  {{!-- Thursday hours --}}
                  <h6>Thu</h6>
                  <p>Open:</p><input id="thu-open" type="time" name="hours" min="0:00" max="23:59" required>
                  <p>Close:</p><input id="thu-close" type="time" name="hours" min="0:00" max="23:59" required>
                </div>
                <div class="col-sm-4">
                  {{!-- Friday hours --}}
                  <h6>Fri</h6>
                  <p>Open:</p><input id="fri-open" type="time" name="hours" min="0:00" max="23:59" required>
                  <p>Close:</p><input id="fri-close" type="time" name="hours" min="0:00" max="23:59" required>
                </div>
              </div>
              <div class="row">
                {{!-- Saturday hours --}}
                <div class="col-sm-12 center">
                  <h6>Sat</h6>
                  <p>Open:</p><input id="sat-open" type="time" name="hours" min="0:00" max="23:59" required>
                  <p>Close:</p><input id="sat-close" type="time" name="hours" min="0:00" max="23:59" required>
                </div>
              </div>
            </fieldset>
            {{!-- end opening hours input fields --}}

            {{!-- START SPECIALS --}}
            <hr>
            <h5>Daily Specials</h5>
            <hr>
            {{!-- sunday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Sunday Specials</span>
              </div>
              <input id="newbiz-sun-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- monday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Monday Specials</span>
              </div>
              <input id="newbiz-mon-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- tuesday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Tuesday Specials</span>
              </div>
              <input id="newbiz-tue-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- wednesday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Wednesday Specials</span>
              </div>
              <input id="newbiz-wed-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- thursday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Thursday Specials</span>
              </div>
              <input id="newbiz-thu-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- friday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Friday Specials</span>
              </div>
              <input id="newbiz-fri-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- saturday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Saturday Specials</span>
              </div>
              <input id="newbiz-sat-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- add business button --}}
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary b-btn" id="confirm-add">Add New Business</button>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal-btn b-btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- end add business modal --}}
{{!-- start edit business modal --}}
<div class="container">
  <div id="edit-business-modal" class="modal fade bd-example-modal-lg modal-bg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header modal-header-txt">
          <h4>Edit Business</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-txt">
          {{!-- add business form --}}
          <form>
            {{!-- START SPECIALS --}}
            {{!-- if input field blank create code to not change the data --}}
            <hr>
            <h5>Edit Daily Specials</h5>
            <hr>
            {{!-- sunday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Sunday Specials</span>
              </div>
              <input id="edit-sun-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- monday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Monday Specials</span>
              </div>
              <input id="edit-mon-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- tuesday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Tuesday Specials</span>
              </div>
              <input id="edit-tue-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- wednesday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Wednesday Specials</span>
              </div>
              <input id="edit-wed-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- thursday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Thursday Specials</span>
              </div>
              <input id="edit-thu-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- friday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Friday Specials</span>
              </div>
              <input id="edit-fri-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- saturday --}}
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Saturday Specials</span>
              </div>
              <input id="edit-sat-spec" type="text" class="form-control" aria-label="daily special"
                aria-describedby="inputGroup-sizing-sm">
            </div>
            {{!-- edit business button --}}
            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary b-btn" id="confirm-edit">Confirm Edit</button>
                <button class="btn btn-primary float-right delete" type="button" data-toggle="modal"
                  data-target="#confirm-delete-modal">Delete Business</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- end edit business modal --}}
{{!-- confirm delete of account MODAL--}}
<div class="container">
  <div id="confirm-delete-modal" class="modal fade modal-bg" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-header-txt">
          <h4 class="modal-title">Are you sure?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-txt">
          <p>The deletion of your business will be permanent.</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary delete" id="confirm-delete">Delete Business</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- end delete account MODAL --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>


{{!-- 
<script type="text/javascript">

  var businessExists = false;
  var jumbotronHidden = true;
  var addBusBtnHidden = false;
  //on load hide business jumbotron
  //$("#business-jumbotron").hide();

  //hide add business button when clicked
  $("#add-business-btn").on("click", function () {
    $("#add-business-container").hide();
    addBusBtnHidden = true;
  });

  $("#confirm-add").on("click", function () {
    detectHiddenElements();
  });

  function detectHiddenElements() {
    if (addBusBtnHidden === true) {
      $("#business-jumbotron").show();
      jumbotronHidden = false;
    } else {
      $("#add-business-container").show();
      addBusBtnHidden = false;
    };
  };

</script> --}}